<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <data>
    <!-- Sous-menu Rapports dans l'app Qualité -->
    <menuitem
      id="menu_haccp_reports_root"
      name="Méthode HACCP"
      parent="quality_control.menu_quality_root"
      groups="quality.group_quality_user"
      sequence="25"/>

    <menuitem
      id="menu_haccp_report_ddpp"
      name="Rapports HACCP DDPP"
      parent="menu_haccp_reports_root"
      action="action_haccp_report"
      groups="quality.group_quality_user"
      sequence="10"/>

    <!-- Groupe Calculs et formules -->
    <menuitem
      id="menu_haccp_calculs_root"
      name="Calculs et formules"
      parent="menu_haccp_reports_root"
      groups="quality.group_quality_user"
      sequence="20"/>

    <menuitem
      id="menu_haccp_dlc"
      name="DLC / DLUO"
      parent="menu_haccp_calculs_root"
      action="action_haccp_dlc"
      groups="quality.group_quality_user"
      sequence="10"/>

    <menuitem
      id="menu_haccp_refroidissement"
      name="Refroidissement"
      parent="menu_haccp_calculs_root"
      action="action_haccp_refroidissement"
      groups="quality.group_quality_user"
      sequence="20"/>

    <menuitem
      id="menu_haccp_reassort"
      name="Réassort"
      parent="menu_haccp_calculs_root"
      action="action_haccp_reassort"
      groups="quality.group_quality_user"
      sequence="50"/>

    <menuitem
      id="menu_haccp_decongelation"
      name="Décongélation"
      parent="menu_haccp_calculs_root"
      action="action_haccp_decongelation"
      groups="quality.group_quality_user"
      sequence="40"/>

    <menuitem
      id="menu_haccp_dilution"
      name="Dilution"
      parent="menu_haccp_calculs_root"
      action="action_haccp_dilution"
      groups="quality.group_quality_user"
      sequence="30"/>

    <!-- Bibliothèque de documents -->
    <menuitem
      id="menu_haccp_documents"
      name="Bibliothèque de documents"
      parent="menu_haccp_reports_root"
      action="action_haccp_document"
      groups="quality.group_quality_user"
      sequence="30"/>
  </data>
</odoo>
